doctype html
html
    head
        title DiscordStatsBot
        link(rel='stylesheet', href='/index.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=KoHo')
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='icon', href='/favicon.ico')
    body
        .main-container.white
            .container.space
                p.strong Discord Stats Bot
                .end
                    a.white(href='/') Index
                    |
                    | >
                    |
                    a.white(href='/g/') Guilds
                    | 
                    |
                    a > #{data[0].guildName}
            .container.column
                p Channels
                .list
                    .item
                        p.flex-two.strong Name
                        p.flex-one.strong Type
                        p.flex-one.string ID
                    each element in data
                        .item
                            a.flex-two.white(href=`/c/${element.channelId}/`) #{element.channelName}
                            p.flex-one #{element.type}
                            p.flex-one.consolas #{element.channelId}
                br
                p Activity - messages per day
                .diagram.row-reverse.space
                    each element in stats
                        .item.column.flex-one.end
                            if element[1] === 0
                                .bar-container
                                    a.bar.white
                                a.label #{element[0]}
                            else
                                .bar-container
                                    a.bar.white(style={
                                        height: (element[1]*90/max)+"%"
                                    }, href=`day/${element[2]}/`) #{element[1]}
                                a.label #{element[0]}