doctype html
html
    head
        title DiscordStatsBot
        link(rel='stylesheet', href='/index.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=KoHo')
    body
        .main-container.white
            .container.space
                p.strong Discord Stats Bot
                .end
                    a.white(href='/') Index 
                    |
                    | >
                    |
                    a.white(href='/u/') Users
                    |
                    |
                    a > #{userName}
            .container.column.space
                .column.flex-one
                    p User info
                    .list
                        .item
                            p.flex-one.strong Username
                            p.flex-two #{userName}
                        .item
                            p.flex-one.strong Usertag
                            p.flex-two #{userTag}
                        .item
                            p.flex-one.strong ID
                            p.flex-two #{id}
                br
                .column.flex-one
                    p User on guilds
                    .list
                        .item
                            p.flex-two.strong Guild name
                            p.flex-one.strong Nickname on guild
                            p.flex-one.strong Guild ID
                        each element in guilds
                            .item
                                a.flex-two.white(href=`/g/${element.id}/`) #{element.name}
                                p.flex-one #{element.nickname}
                                p.flex-one #{element.id}